<h1>Coords &rarr; Weather Results</h1>

<dl>
  <dt>Latitude</dt>
  <dd><%= @lat %></dd>

  <dt>Longitude</dt>
  <dd><%= @lng %></dd>

  <dt>Current Temperature</dt>
  <dd><%= @currenttemp %></dd>

  <dt>Current Summary</dt>
  <dd><%= @currentsummary %></dd>

  <dt>Outlook for next sixty minutes</dt>
  <dd><%= @nextsixtyminutes %></dd>

  <dt>Outlook for next several hours</dt>
  <dd><%= @nextseveralhours %></dd>

  <dt>Outlook for next several days</dt>
  <dd><%= @nextseveraldays %></dd>
</dl>
